---
title: Creaciones
layout: base.njk
---

<ul>
{% for story in collections.stories %}
<li>
    <article>
        <a href="{{story.url}}"><h2>{{ story.data.title}}</h2></a>
        
    <article>
</li>
{% endfor %}
</ul>